
x-dragbox {
	display: block;
}

x-dragbox > * {
	user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	cursor: move;
}

.x-dragbox-drag-origin {
	opacity: 0.5;
}

div {
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 20px;
	background: red;
}

div:first-child {
	background: purple;
}

div:last-child {
	background: blue;
}