{% set page = 'index' %}
{% extends "layout.html" %}
{% block index %}
		<div class="limit">
						
			<h1 class="tagline">X-Tag - The Custom Elements Polylib</h1>
			
			<div id="intro" class="block">
					
				<x-ribbon>What is X-Tag?</x-ribbon>
				
				<div id="intro_graphic">
					
					<div id="intro_logo" class="foo">
						<span>&lt;</span>
						<div></div>
						<span>&gt;</span>
					</div>
					
					<div class="intro_details" id="intro_webcomponents">
						<img src="images/webcomponents.png" onload="introAnimation()" />
					</div>
					
					<div class="intro_details" id="intro_browsers">
						<img src="images/browsers.png" onload="introAnimation()" />
					</div>
				</div>
				
				<h2>
					X-Tag is a small JavaScript library, created and supported by Mozilla, that brings 
					Web Components Custom Element capabilities to all modern browsers.
				</h2>
				
			</div>
			
			<div class="block">
				<x-ribbon>Get the code</x-ribbon>
				<div id="code_options" class="unlink">
					<div>
						<a id="download" href="https://github.com/mozilla/x-tag/archive/master.zip">
							<img src="images/archive.png">
							<div>
								Download it
								<span>8k compressed</span>
							</div>
						</a>
					</div>
					
					<div>
						<a id="fork" href="https://github.com/mozilla/x-tag">
							<img src="images/github-logo.png">
							<div>
								Fork it
								<span>on Github</span>
							</div>
						</a>
					</div>
					
					<div>
						<a id="registry_elements">
							<img src="images/xtr.png">
							<div>
								Get tags
								<span>view the Registry</span>
							</div>
						</a>
					</div>
				</div>
			</div>
			
			<div class="block">
				<x-ribbon>Razzle-Dazzle</x-ribbon>
				
				<dl>
					<dt text="Toggle Switch"></dt>
					<dd>
					
					</dd>
					
					<dt text="Slidebox"></dt>
					<dd>
					
					</dd>
					
					<dt text="Leaflet Map"></dt>
					<dd>
					
					</dd>
				</dl>
			</div>
			
		</div>

{% endblock %}
