<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8" />
		
		<title>X-Tag - Web Components Custom Element Polylib</title>
		<link href="images/shortcut.png" rel="shortcut icon" type="image/x-icon" />
		
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/flex.css"/>
		<link rel="stylesheet" type="text/css" href="css/layout.css"/>
		<link rel="stylesheet" type="text/css" href="css/global.css"/>
		<link rel="stylesheet" type="text/css" href="elements/slidebox/slidebox.css"/>
		<link rel="stylesheet" type="text/css" href="elements/panel/panel.css"/>
		<link rel="stylesheet" type="text/css" href="ribbon/ribbon.css"/>
		
		<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous" />
		
		<script type="text/javascript" src="js/x-tag.js"></script>
		<script type="text/javascript" src="elements/slidebox/slidebox.js"></script>
		<script type="text/javascript" src="elements/panel/panel.js"></script>
		<script type="text/javascript" src="ribbon/ribbon.js"></script>
	</head>

<body>

	<header id="header">
	
		<div id="global_nav">
			<x-slidebox>
				<x-slides>
				
					<x-slide {% if page == "blog" %}selected{% endif %}>
						<a>Blog</a>
					</x-slide>
					
					<x-slide {% if page == "docs" %}selected{% endif %}>
						<a>Docs</a>
					</x-slide>
					
					<x-slide id="nav_logo" {% if page == "index" %}selected{% endif %}>
						<span>&lt;</span>
						<div>x</div>
						<span>&gt;</span>
					</x-slide>
					
					<x-slide {% if page == "registry" %}selected{% endif %}>
						<a>Registry</a>
					</x-slide>
					
					<x-slide {% if page == "about" %}selected{% endif %}>
						<a>About</a>
					</x-slide>
					
				</x-slides>
			</x-slidebox>
		</div>
		
	</header>

	<x-slidebox id="content_slidebox">
		<x-slides>
		
			<x-slide name="blog" {% if page == "blog" %}selected{% endif %}>
				<x-panel>
					{% block blog %}{% endblock %}
				</x-panel>
			</x-slide>
			
			<x-slide name="docs" {% if page == "docs" %}selected{% endif %}>
				<x-panel>
					{% block docs %}{% endblock %}
				</x-panel>
			</x-slide>
			
			<x-slide name="" {% if page == "index" %}selected{% endif %}>
				<x-panel>
					{% block index %}{% endblock %}
				</x-panel>
			</x-slide>
			
			<x-slide name="registry" {% if page == "registry" %}selected{% endif %}>
				<x-panel>
					{% block registry %}{% endblock %}
				</x-panel>
			</x-slide>
			
			<x-slide name="about" {% if page == "about" %}selected{% endif %}>				
				<x-panel>
					{% block about %}{% endblock %}
				</x-panel>
			</x-slide>
			
		</x-slides>
	</x-slidebox>

</body>

<script type="text/javascript">
	
	introImageLoads = 0;
	introAnimation = function(){
		introImageLoads++;
		if (introImageLoads == 2) {
			setTimeout(function(){
				document.getElementById('intro_graphic').className = 'animate-intro';
				setTimeout(function(){
					document.querySelector('#intro_logo div').className = 'switch-logo-x';
					document.getElementById('intro_graphic').className = 'animate-intro fade-intro';
				}, 300);
			}, 1000);
		}
	}
	
	slidePage = function(index){
		var slide = document.querySelectorAll('#content_slidebox x-slide')[index];		
		if (slide.firstElementChild.children.length == 0){
			slide.firstElementChild.src = "/" + slide.getAttribute('name');
		}
		document.querySelector('#global_nav x-slidebox').slideTo(index);
		document.getElementById('content_slidebox').slideTo(index);
	}
	
	xtag.addEvents(document, {
		'click:touch:delegate(#global_nav x-slide)': function(e){
			var index = Array.prototype.indexOf.call(this.parentNode.children, this);
			slidePage(index);
		},
		'click:touch:delegate(#registry_elements)': function(){
			slidePage(3);
		}
	});
	
</script>

</html>
